svg {
  border: 1px solid rgb(100, 100, 100);
}

html, body{ 
  width: 100%;
  height: 100%;
  margin: 0px;
  color: whitesmoke;
  background: #2d3436;
  font-family: 'Asap', 'Courier New', Courier, monospace;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

#graph{
  align-self: center;
}

svg .domain, svg .y-axis-line{
  stroke: #00b894;
  stroke-width: 1px;
}

#equations{
  padding: 10px;
}

.tick line{
  stroke: rgb(100, 100, 100);
}

input[type="text"]{
  width: 100%;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
  font-style: italic;
  font-weight: lighter;
  border: none;
  background: transparent;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

input[type="text"]:focus{
  outline: none;
  border-bottom: 1px solid #00b894;
}

button{
  width: 100%;
  font-size: 16px;
  padding: 4px 0px;
  background: #00b894;
  border: none;
  color: rgb(231, 231, 231);
  border-radius: 2px;
  cursor: pointer;
}

#equations{
  height: 70%;
  overflow: scroll;
  border: 1px solid rgb(100, 100, 100);
}

#message-bar{
  height: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  position: absolute;

  display: flex;
  align-items: center;
  padding: 0px 8px;

  transition: height 0.5s;

  font-size: 18px;
}

#message-bar.error{
  background-color: rgb(245, 74, 89);
}

#message-bar.success{
  background-color: #00b894;
}

#message-bar.info{
  background-color: rgb(57, 179, 250);
}

.sidebar{
  width: 20%;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}