svg {
  border: 1px solid rgb(100, 100, 100);
}

html, body{ 
  width: 100%;
  height: 100%;
  margin: 0px;
  color: whitesmoke;
  background: #2d3436;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

#graph{
  align-self: center;
}

svg .domain, svg .y-axis-line{
  stroke: #00b894;
  stroke-width: 1px;
}

#equations{
  padding: 10px;
}

.tick line{
  stroke: rgb(100, 100, 100);
}

input[type="text"]{
  width: 100%;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
}

button{
  width: 100%;
  font-size: 16px;
}

#equations{
  height: 70%;
  overflow: scroll;
  border: 1px solid rgb(100, 100, 100);
}

.sidebar{
  width: 20%;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}